#form {
    place-self: center;
    display: grid;
    gap: 1rem;
    place-items: start;

    margin: 2rem;
    padding: 1.5rem;
    background: var(--color-background-2);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-medium);
}

/* Type and Key input */

#header {
    display: flex;
    place-items: baseline start;
    gap: 1.5rem;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1.5px dashed var(--color-text);
}

#ref-type {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#ref-type > label{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-accent);
}

#ref-type-input {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-accent);
    padding: 0.25rem;
}

#ref-key {
    flex: 1;
}

#ref-key-input {
    flex: 1;
    font-family: var(--font-monospace);
}


#ref-key {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Fields */

#fields {
    width: 100%;
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(2, auto);
}

#fields > label {
    place-self: start;
    padding-top: 0.25rem;
    font-family: var(--font-monospace);
}

#fields > label > span{
    vertical-align: super;
    font-size: 0.75em;
    color: rgb(255, 119, 119);
}


.field-value {
    width: 25rem;
}

textarea {
    resize: vertical;
}

/* Field Adder */

#field-adder {
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: subgrid;
    align-items: center;
}

#field-adder-input {
    align-items: center;
    display: flex;
    gap: 0.75rem;
    height: 100%;
}

#field-select {
    font-family: var(--font-monospace);
}

#add-field {
    height: inherit;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    padding: 0;
}

#add-field span {
    font-size: 1.2rem;
    color: inherit;
}

/* Submit */

#submit {
    place-self: center;
    padding: 0.25rem 2rem;
}

/* Input Styles */

/* All */

input, select, textarea, button {
    background: var(--color-background-1);
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: var(--border-radius-small);
    transition: box-shadow 0.15s;
}

/* Focus */

input:focus-visible,
select:focus-visible,
textarea:focus-visible,
button:focus-visible {
    outline: none;
    box-shadow: var(--box-shadow-small);
}

/* Button */

button, input[type="submit"] {
    cursor: pointer;
    transition: background-color 0.1s linear, color 0.1s linear;
}

button:hover, input[type="submit"]:hover {
    background: var(--color-text);
    color: var(--color-background-1);
}

/* Select */

/* Custom select dropdown, would need quite a bit of work */

/* option {
    background: var(--color-background-1);
}

option:hover {
    background: var(--color-text);
    color: var(--color-background-1);
} */

/* select,
::picker(select) {
  appearance: base-select;
} */

#edit-form-controls {
    place-self: center;
    display: flex;
    gap: 1rem;
    align-items: center;
}

#back-button {
    text-decoration: none;
}

#back-button {
    place-self: center;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.25rem 1rem;
    border: none;
    border-radius: var(--border-radius-small);
    background: var(--color-background-1);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

#back-button:hover {
    background: var(--color-text);
    color: var(--color-background-1);
}

#back-button:focus-visible {
    outline: none;
    box-shadow: var(--box-shadow-small);
}

#back-button-icon {
    font-size: 1rem;
}
