/* Main layout */

main {
    place-self: center;
    display: grid;
    gap: 2rem;
    width: min(100%, 50rem);
    padding: 2rem;
}

section {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: var(--border-radius-medium);
    background: var(--color-background-2);
    box-shadow: var(--box-shadow-medium);
}

/* Section */

.section-title {
    font-family: var(--font-display);
    font-size: 1.5rem;
}

.section-block {
    padding: 1rem;
    border-radius: var(--border-radius-medium);
    border: 1px dashed var(--color-text);
    background: var(--color-background-2-light);
}

/* Section Block */

.block-description {
    margin-bottom: 0.75rem;
    color: var(--color-text-light);
    font-size: 0.9rem;
}

#import-text-form,
#import-file-form {
    display: grid;
    gap: 1rem;
    place-items: start;
}

/* Textarea */

.textarea-container {
    position: relative;
    display: grid;
}

.content-textarea {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: var(--border-radius-small);
    font-family: var(--font-monospace);
    font-size: 0.9rem;
    resize: vertical;
    background: var(--color-background-1);
}

#copy-export-button {
    position: absolute;
    top: 0;
    right: 0;
}

/* Import file */

#import-file-container {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    place-items: center;
    gap: 0.5rem;
    padding: 1.5rem;
    border: 2px dashed var(--color-text-light);
    border-radius: var(--border-radius-medium);
    background: var(--color-background-2);
    transition: background-color 0.2s ease-in-out;
}

#import-file-container:hover,
#import-file-container.drag-active {
    background: var(--color-background-1-dark);
}

#import-file-separator {
    font-size: 0.95rem;
    color: var(--color-text-light);
}

#import-file-input {
    padding: 0.5rem;
    border: 1px solid var(--color-text);
    border-radius: var(--border-radius-medium);
    background: var(--color-background-2-light);
}

#import-file-input:focus-visible {
    outline: none;
}

#import-file-input:focus-visible::file-selector-button {
    box-shadow: var(--box-shadow-small);
}

::file-selector-button {
    margin-right: 1rem;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: var(--border-radius-small);
    background: var(--color-background-1);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

::file-selector-button:hover {
    background: var(--color-text);
    color: var(--color-background-1);
}

/* Buttons */

.action-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    background: var(--color-background-1);
    border: none;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.1s linear, color 0.1s linear;
}

.action-button:hover {
    background: var(--color-text);
    color: var(--color-background-1);
}

.action-button:hover .material-symbols-outlined {
    color: var(--color-background-1);
}

.action-button .material-symbols-outlined {
    font-size: 1.2rem;
}

.icon-button {
    display: flex;
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius-small);
    background: none;
    color: var(--color-text-light);
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.icon-button:hover {
    color: var(--color-text);
}

/* Tab navigation */

.content-textarea:focus-visible,
.action-button:focus-visible,
.icon-button:focus-visible,
#import-file-input:focus-visible::file-selector-button {
    outline: none;
    box-shadow: var(--box-shadow-small);
}
