main {
    place-self: center;
    display: grid;
    gap: 2rem;
    width: min(100%, 50rem);
    padding: 2rem;
}

section {
    display: grid;
    gap: 1.5rem;
    background: var(--color-card);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow-medium);
}

section > h2 {
    font-family: var(--font-display);
    font-size: 1.5rem;
}

section > p {
    margin-bottom: 1rem;
    color: var(--color-field-type);
}

form {
    display: grid;
    place-items: start;
    gap: 1rem;
}

#export-file,
#export-text,
#import-text,
#import-file {
    padding: 1rem;
    border-radius: 8px;
    border: 1px dashed var(--color-text);
    /* background: rgba(255, 255, 255, 0.2); */
}

#export-file p,
#import-text p,
#import-file p {
    margin-bottom: 0.75rem;
    color: var(--color-field-type);
    font-size: 0.9rem;
}

#bibtex-text {
    width: 100%;
    min-height: 10rem;
    font-family: var(--font-monospace);
    font-size: 0.9rem;
    padding: 0.75rem;
    resize: vertical;
    background: var(--color-navbar);
    border: none;
    border-radius: 4px;
}

#bibtex-text:focus-visible,
#bibtex-file:focus-visible,
.action-btn:focus-visible {
    outline: none;
    box-shadow: var(--box-shadow-small);
}

#bibtex-file {
    display: flex;
    gap: 1rem;
}

::file-selector-button {
    margin: 0;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 4px;
}

.action-btn,
::file-selector-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    background: var(--color-navbar);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.1s linear, color 0.1s linear;
}

.action-btn:hover {
    background: var(--color-text);
    color: var(--color-navbar);
}

.action-btn:hover .material-symbols-outlined {
    color: var(--color-navbar);
}

.action-btn .material-symbols-outlined {
    font-size: 1.2rem;
}
