.refs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    justify-content: flex-start;
}

.ref-card {
    min-width: 400px;
    width: min-content;
    height: max-content;

    display: grid;
    gap: 1rem;

    background: var(--color-bg-2);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.2s;
}

.ref-card:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.ref-info {
    display: grid;
    grid-template-columns: repeat(3, max-content) 1fr;
}

.ref-info .separator {
    padding: 0 0.5rem;
}

.edit-button {
    width: max-content;
    height: max-content;

    display: grid;
    place-self: start end;

    padding-left: 1rem;
}

.icon-link {
    display: grid;

    text-decoration: none;
}


.ref-type, .ref-name {
    font-size: 1.25rem;
}

.fields {
    display: grid;
    gap: 0.5rem
}

.field {
    display: grid;
    grid-auto-flow: column;
    place-items: center start;
    gap: 0.5rem;
    width: max-content;
    height: max-content;
}

.field-type, .field-value {
    width: max-content;
    height: max-content;
}

.field-value {
    padding: 0.1rem 0.25rem;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.no-references {
    padding: 1rem;
    font-size: 1.5rem;
}