#refs {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem;
    justify-content: flex-start;
}

.ref-card {
    min-width: 250px;
    max-width: 450px;
    height: fit-content;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    background: var(--color-card);
    border-radius: 8px;
    box-shadow: var(--box-shadow-medium);
    transition: box-shadow 0.2s, height ease 0.5s;
    text-decoration: none;
}

.ref-card:hover {
    box-shadow: var(--box-shadow-large);
}

.ref-info {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 0.5rem;
    place-items: baseline start;
}

.ref-type {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-ref-type);
}

.ref-key {
    width: 100%;
    font-size: 0.8rem;
    font-family: var(--font-monospace);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.field-count {
    justify-self: end;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    font-family: var(--font-monospace);
    white-space: nowrap;
}

.fields {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.25rem 1rem;
}

.field {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: subgrid;
    place-items: center start;
    padding-bottom: 0.25rem;
    border-bottom: 1.5px dashed #555;
}

.field:last-child {
    padding: 0;
    border: none;
}

.field-type {
    font-weight: 600;
    color: var(--color-field-type);
}

.field-value {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

#no-references {
    display: flex;
    flex-direction: column;
    margin: 3rem;
}

#no-references > p {
    font-size: 1.5rem;
    color: var(--color-field-type);
}
