/* layout.css */
/* Rules for the layout of all pages (navbar, body) */
/* Commonly used styles are defined in common.css */

/* Body layout */

body {
    display: grid;
    align-content: start;
    min-height: 100vh;
}

/* Background image */

.bg {
    position: fixed;
    width: max(100vw, 100%);
    height: max(100vh, 100%);
    background-image: url(../images/background-0.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* Flash message */

.flash-message {
    max-width: 20rem;
    position: fixed;
    top: 5.5rem;
    right: 1.5rem;
    display: grid;
    place-content: center;

    background: var(--color-background-1);
    padding: 1rem;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-medium);
    animation: slide-in 0.5s ease-out forwards, slide-out 0.5s ease-in 5s forwards;
}

/* Navbar */

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--color-background-1);
    box-shadow: var(--box-shadow-medium);
    z-index: 1;
}

#nav {
    display: grid;
    grid-template-columns: auto 1fr;
}

.nav-list {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    padding: 0;
}

.nav-item {
    display: grid;
    align-items: center;
}

.nav-link:focus-visible {
    outline: none;
    text-decoration: underline;
}

.nav-item.current {
    background: var(--color-text);
}

.nav-item.current .nav-link {
    color: var(--color-background-1);
}

.nav-link {
    padding: 1rem;
    font-family: var(--font-display);
    font-size: 1.5rem;
    text-decoration: none;
    white-space: nowrap;
}

.nav-link:hover {
    text-decoration: underline;
}
