:root {
    color-scheme: light;
    --font-primary: "Lexend", sans-serif;
    --font-display: "Playfair Display", serif;
    --font-monospace: "Fira Code", monospace;

    --color-navbar: #eadbc8;
    --color-navbar-dark: #d3c5b3;
    --color-card: #ffeede;
    --color-card-light: #fff5eb;

    --color-text: #222;
    --color-ref-type: #2a4d8f;
    --color-field-type: #555;

    --box-shadow-small: 0 1px 4px rgba(0,0,0,0.5);
    --box-shadow-small-strong: 0 1px 4px rgba(0,0,0,1);
    --box-shadow-medium: 0 2px 8px rgba(0,0,0,0.1);
    --box-shadow-large: 0 4px 16px rgba(0,0,0,0.2);
}

::selection {
    color: var(--color-navbar);
    background: var(--color-text);
}

@keyframes slide-in {
    from {
        transform: translateX(calc(100% + 1.5rem));
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(100% + 1.5rem));
    }
}

* {
    font-family: --var(--font-primary);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: var(--color-text);
    scrollbar-color: var(--color-text) var(--color-navbar);
}

body {
    display: grid;
    align-content: start;
    min-height: 100vh;
}

.bg {
    position: fixed;
    width: max(100vw, 100%);
    height: max(100vh, 100%);
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.material-symbols-outlined {
    user-select: none;
    color: inherit;
}

.flash-message {
    max-width: 20rem;
    position: fixed;
    top: 5.5rem;
    right: 1.5rem;
    display: grid;
    place-content: center;

    background: var(--color-navbar);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow-medium);
    animation: slide-in 0.5s ease-out forwards, slide-out 0.5s ease-in 5s forwards;
}

#nav {
    display: grid;
    grid-template-columns: auto 1fr;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--color-navbar);
    box-shadow: var(--box-shadow-medium);
    z-index: 1;
}

.nav-list {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    padding: 0;
}

.nav-item {
    display: grid;
    align-items: center;
}

.nav-item.current {
    background: var(--color-text);
}

.nav-item.current .nav-link {
    color: var(--color-navbar);
}

.nav-link {
    padding: 1rem;
    font-family: var(--font-display);
    font-size: 1.5rem;
    text-decoration: none;
    white-space: nowrap;
}

.nav-link:hover {
    text-decoration: underline;
}
