/* ------------ */
/* Type and Key */
/* ------------ */

.ref-info {
    place-self: start;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1rem;
}

#ref-type-select {
    place-self: start;
    font-family: var(--font-monospace);
}

#ref-key-input {
    font-family: var(--font-monospace);
}


/* ------ */
/* Fields */
/* ------ */

.block > p > span {
    font-family: var(--font-monospace);
    vertical-align: super;
    font-size: 0.75rem;
    color: rgb(255, 120, 120);
}

#fields {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.75rem;
}

#fields > label {
    place-self: center start;
    font-family: var(--font-monospace);
}

#fields > label > span {
    vertical-align: super;
    font-size: 0.75rem;
    color: rgb(255, 120, 120);
}

textarea {
    resize: vertical;
}

#field-adder {
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: subgrid;
    align-items: center;
}

#field-adder-input {
    display: flex;
    gap: 0.75rem;
    height: 100%;
}

#field-select {
    font-family: var(--font-monospace);
}

#add-field-button {
    padding: 0;
    height: inherit;
    aspect-ratio: 1;
}
