{% extends "layout.html" %}

{% block title %}Edit reference {{ ref.name }}{% endblock %}

{% block head %}
<script src="../static/scripts/new_reference.js" defer></script>
{% endblock %}

{% block body %}

<h2>Edit reference: {{ ref.name }}</h2>

<form action="/edit_reference" method="post">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <div>
        <label for="type">Reference type:</label>
        <select name="type" id="type" required>
            {% for type in ref_types %}
                {% if type == ref.type %}
                <option value="{{ type }}" selected>{{ type }}</option>
                {% else %}
                <option value="{{ type }}">{{ type }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="name">Reference name:</label>
        <input type="text" name="name" id="name" value="{{ ref.name }}" maxlength="100" required>
    </div>
    <br>

    <div id="required-fields">
        Required fields:<br>
        {% for field in ref.fields if field.type in required %}
        <label for="{{ field.type }}">{{ field.type }}: </label>
        <input type="text" name="{{ field.type }}" id="{{ field.type }}"
                value="{{ field.value }}" required maxlength="500"> <br>
        {% endfor %}
    </div>

    <div id="optional-fields">
        Optional Fields:<br>
        {% if optional %}
            {% for field in ref.fields if field.type in optional %}
            <label for="{{ field.type }}">{{ field.type }}: </label>
            <input type="text" name="{{ field.type }}" id="{{ field.type }}"
                    value="{{ field.value }}" required maxlength="500"> <br>
            {% endfor %}
        {% else %}
        <p id="no-optional-fields">No optional fields</p>
        {% endif %}
    </div>

    <input type="submit" value="Save changes">
</form>

<hr>

<div id="optional-fields-adder">
    <label for="optional-select" id="optional-label">Optional fields:</label>
    <select name="optional-select" id="optional-select">
        {% for type in optional if type not in ref.optional %}
        <option value="{{ type }}">{{ type }}</option>
        {% endfor %}
    </select>
    <button type="button" id="optional-button">Add optional field</button>
</div>

<hr>

{% endblock %}
