{% extends "layout.html" %}

{% block title %}Import / Export{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/styles/import-export.css">
<script src="../static/scripts/import-export.js" defer></script>
{% endblock %}

{% block body %}
<main>
    <section class="export-section">
        <h2 class="section-title">Export References</h2>
        <div class="section-block export-file">
            <h3 class="block-title">Export as file</h3>
            <p class="block-description">Download as a BibTeX (.bib) file</p>
            <form action="/export/file" method="post">
                <button type="submit" class="action-button">
                    <span class="material-symbols-outlined">download</span>
                    Download
                </button>
            </form>
        </div>

        <div class="section-block export-text">
            <h3 class="block-title">Export as text</h3>
            <p class="block-description">Copy the contents manually or via the copy button</p>
            <div class="textarea-container">
                <textarea id="export-textarea" class="content-textarea" name="export-textarea" readonly rows="10">{{ bibtex_text or '' }}</textarea>
                <button id="copy-export-button" class="icon-button" type="button">
                    <span class="material-symbols-outlined">content_copy</span>
                </button>
            </div>
        </div>
    </section>

    <section class="import-section">
        <h2 class="section-title">Import References</h2>
        <div class="section-block import-text">
            <h3 class="block-title">Import from Text</h3>
            <p class="block-description">Paste BibTeX entries directly</p>
            <form id="import-text-form" action="/import/text" method="post">
                <textarea id="import-textarea" class="content-textarea" name="import-textarea" rows="10" placeholder="@article{example,
  author = {Author Name},
  title = {Article Title},
  journaltitle = {Journal Name},
  year = {2024},
}"></textarea>
                <button type="submit" class="action-button">
                    <span class="material-symbols-outlined">content_paste_go</span>
                    Import from Text
                </button>
            </form>
        </div>

        <div class="section-block import-file">
            <h3 class="block-title">Import from File</h3>
            <p class="block-description">Upload a .bib file:</p>
            <form id="import-file-form" action="/import/file" method="post" enctype="multipart/form-data">
                <label id="import-file-container" for="import-file-input">
                    <span id="import-file-instruction">Drop a file here</span>
                    <span id="import-file-separator">or</span>
                    <input id="import-file-input" type="file" name="import-file-input" accept=".bib,.bibtex,text/plain">
                </label>
                <button type="submit" class="action-button">
                    <span class="material-symbols-outlined">upload_file</span>
                    Import from File
                </button>
            </form>
        </div>
    </section>
</main>
{% endblock %}
