{% extends "layout.html" %}

{% block title %}
References
{% endblock %}

{% block body %}

<h2>All references: </h2>

{% if references %}
<ul>
    {% for ref in references %}
    <div>
        <p>{{ref.name}}, type: {{ref.type}} | <a href="/edit_reference?id={{ ref.id }}" class="edit-reference">Edit reference</a></p>
        {% for field in ref.fields %}
            <p>{{field.type}}: {{field.value}}</p>
        {% endfor %}
        <hr>
        </p>
    </div>
    {% endfor %}
</ul>
{% else %}
<p>No references</p>
{% endif %}


<p><a href="/new_reference">Add a new reference</a></p>

{% endblock %}