{% extends "layout.html" %}

{% block title %}New reference{% endblock %}

{% block head %}
<script src="../static/scripts/show-reference.js" defer></script>
<link rel="stylesheet" href="../static/styles/show-reference.css">
{% endblock %}

{% block body %}
<form class="layout-section" action="/new-reference" method="post">
    <section class="section">
        <div class="section-header">
            <h2 class="section-title">New Reference</h2>
            <div class="section-icons">
                <button id="submit" class="icon-button" type="submit" title="Create">
                    <span class="material-symbols-outlined">add</span>
                </button>
            </div>
        </div>
        <div class="block">
            <h3 class="block-title">Type and Key</h3>
            <p class="block-description">Select the most fitting type. Key is usually formed from the authors' names.
            </p>
            <div class="ref-info">
                <label for="ref-type-input">Type</label>
                <select id="ref-type-input" class="input-select" name="ref-type-input" required>
                    {% for type in all_refs %}
                    {% if type == ref_type %}
                    <option selected>{{ type }}</option>
                    {% else %}
                    <option>{{ type }}</option>
                    {% endif %}
                    {% endfor %}
                </select>

                <label for="ref-key-input">Key</label>
                <input id="ref-key-input" class="input-text" type="text" name="ref-key-input" maxlength="100" required>
            </div>
        </div>

        <div class="block">
            <h3 class="block-title">Fields</h3>
            <p class="block-description">Fields marked with <span>*</span> are required.</p>
            <div id="fields">
                <div id="field-adder">
                    <label for="field-select">Add Field</label>
                    <div id="field-adder-input">
                        <select id="field-select" class="input-select" name="field-select">
                            {% for field in optional %}
                            <option>{{ field }}</option>
                            {% endfor %}
                        </select>
                        <button id="add-field-button" class="button" type="button">
                            <span class="material-symbols-outlined">add</span>
                        </button>
                    </div>
                </div>
                {% for field in required %}
                <label for="{{ field }}">{{ field }}<span>*</span></label>
                <textarea id="{{ field }}" class="field-value input-select" name="{{ field }}" required maxlength="500"
                    rows="1"></textarea>
                {% endfor %}
            </div>
        </div>
    </section>

</form>

{% endblock %}
