{% extends "layout.html" %}

{% block title %}Create a new reference{% endblock %}

{% block head %} <script src="../static/scripts/new_reference.js" defer></script> {% endblock %}

{% block body %}

<h2>Create a new reference</h2>

<form action="/new_reference" method="post">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <div>
        <label for="type">Reference type:</label>
        <select name="type" id="type" required>
            {% for type in all_refs %}
                {% if type == ref_type %}
                <option value="{{ type }}" selected>{{ type }}</option>
                {% else %}
                <option value="{{ type }}">{{ type }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="name">Reference name:</label>
        <input type="text" name="name" id="name" maxlength="100" required>
    </div>
    <br>
    <div id="required-fields">
        Required Fields:<br>
        {% for field in required %}
        <label for="{{ field }}">{{ field }}: </label>
        <input type="text" name="{{ field }}" id="{{ field }}" required maxlength="500"> <br>
        {% endfor %}
        <br>
    </div>

    <div id="optional-fields">
        Optional Fields:
        <p id="no-optionals">
            No optional fields added.
        </p>
    </div>

    <input type="submit" value="Submit">
</form>

<hr>

<div id="optional-fields-adder">
    <label for="optional-select" id="optional-label">Optional fields:</label>
        <select name="optional-select" id="optional-select">
            {% for field in optional %}
                <option value="{{ field }}">{{ field }}</option>
            {% endfor %}
        </select>
    <button type="button" id="optional-button">Add optional field</button>
</div>

<hr>

{% endblock %}