name: pylint

on:
  workflow_dispatch:

  push:
    branches:
      - main
      - dev
      - release/*
    paths-ignore:
      - .gitignore
      - '*.md'
      - docs/*
      - ci.yaml

  pull_request:
    branches:
      - main
      - dev
      - release/*
    paths-ignore:
      - .gitignore
      - '*.md'
      - docs/*
      - ci.yaml

jobs:
  pylint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install

      - name: Run pylint
        run: poetry run pylint src